VITE_SUPABASE_URL=https://acyegzhpjrxiafqdefse.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFjeWVnemhwanJ4aWFmcWRlZnNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3NzgwMjcsImV4cCI6MjEwMTM1NDAyN30.WyRGsfYlYbxbvzcplXgV7AXADcDdnDZM05ISehRcPIY
